.places {
  margin: 92px auto 92px auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px auto 90px auto;
    max-width: 928px;
  }
}

@media screen and (max-width: 867px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 767px;
    margin: 64px auto 66px auto;
  }
}
