.cover {
  margin: 0 auto;
  max-width: 1184px;
  padding: 0;
  background-image: url(../../images/cover-trains.jpg);
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
