.place {
  display: grid;
  margin: 0 auto 80px auto;
  max-width: 984px;
  width: 100%;
  grid-template-columns: 1fr 484px;
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 1fr 352px;
    margin: 0 auto 73px auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 50px;
    margin: 0 auto 50px auto;
  }
}
