.place {
  display: grid;
  margin: 0 auto 80px auto;
  max-width: 984px;
  width: 100%;
  grid-template-columns: 1fr 484px;
  gap: 48px 40px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 456px;
    gap: 32px 40px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr 352px;
    margin: 0 auto 73px auto;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr 288px;
  }
}
